{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <form class="form" autocomplete="off" action="/your_post_url_here" method="post">
    {% csrf_token %} <!-- Django CSRF token, important for security -->
    <div class="control">
      <h1>Sign In</h1>
    </div>
    <div class="control block-cube block-input">
      <input name="username" type="text" placeholder="Username">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <div class="control block-cube block-input">
      <input name="password" type="password" placeholder="Password">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="submit">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="text">Log In</div>
    </button>
  </form>
</body>
</html>
